* {
	font-family: 'Red Hat Display', sans-serif;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}


.page-container {
	width:1440px;
	margin: 0 auto;
	background-color: hsl(225, 100%, 94%);
	background-repeat: no-repeat;
	background-image: url('images/pattern-background-desktop.svg');
}

.summary-container {
	width:30%;
	margin: 50px auto;
	background-color: white;
	border-radius: 20px;
}

@media screen and (max-width: 600px) {
	
	.page-container {
		width: 375px;
		background-image: url('images/pattern-background-mobile.svg');
	}
	
	.summary-container {
		width:90%;
		margin: 40px auto;
	}
}