:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --small-radius: 12px;
}

* {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 500;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}


.page-container {
	width:1440px;
	margin: 0 auto;
	background-color: hsl(225, 100%, 94%);
	background-repeat: no-repeat;
	background-image: url('images/pattern-background-desktop.svg');
	overflow: auto;
}

.summary-container {
	width:30%;
	margin: 100px auto;
	background-color: white;
	background-repeat: no-repeat;
	background-image: url('images/illustration-hero.svg');
	border-radius: 20px;
	padding-top: 250px;
	padding-bottom:30px;
	overflow: auto;
}

.sc-element {
	width: 80%;
	margin: 1em auto;
	/*border: 1px solid red;*/
	text-align: center;
}

p.sc-element {
	color: var(--desaturated-blue);
}

h2.sc-element {
	font-weight: 900;
}

.plan-container {
	display: flex;
	align-items:center;
	justify-content: space-between;
	background-color: var(--very-pale-blue);
	border-radius:var(--small-radius);
	
	
}

.pc-element {
	/*border: 1px solid green;*/
	padding: calc(var(--small-radius)*2);
	/*margin:calc(var(--small-radius)*2);*/
}

.icon-music {
	width: 48px;
	height: 48px;
}



.plan-container .pc-element:nth-child(1) {
	display:flex;
	align-items:center;
}

.icon-music, .plan-type {
	padding-right:var(--small-radius);
}

.plan-type p:first-child {
	font-weight:900;
}

.plan-type p:nth-child(2) {
color: var(--desaturated-blue);
}

.plan-type p {
	margin: 0;
}
.change-link {
	color: var(--bright-blue);
	font-weight:900;	
	font-size: 0.9em;
}

.button-payment {
	background-color: var(--bright-blue);
	padding: 15px 0;
	border-radius: var(--small-radius);
}

.button-payment a {
	color: white;
	text-decoration:none;
	font-weight:900;	
	font-size: 0.9em;
	
}

.cancel-order a {
	text-decoration: none;
	color: var(--desaturated-blue);
	font-weight:900;	
	font-size: 0.9em;
	
}

@media screen and (max-width: 600px) {
	
	.page-container {
		width: 375px;
		background-image: url('images/pattern-background-mobile.svg');
	}
	
	.summary-container {
		width:90%;
		margin: 40px auto;
	}
}